nav {
    align-items: center;
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logoName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.loginButtons {
    display: flex;
    gap: 10px
}

.buttons {
    background-color: white;
    color: rgb(53, 165, 239);
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    border: 0;
    font-weight:bolder ;
}

.logoName img {
    width: 100px;
}

.name {
    color:  white;
}
