.formContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px;
}
.formContainerXL {
  max-width: 100vh;
  min-width: 70vh;
  margin: auto;
  margin-top: 15vh;
  padding: 0px;
}


.formContainerDetails {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* special styles for user-details */

.formBoxDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.formBoxInput {
  margin-top: 20px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.inputContainer {
  float: left;
  width: 48%;
  margin-right: 25px; 

}

.inputContainer:last-child {
  margin-right: 0;
}

.inputContainer .MuiTextField-root {
  width: 100%;  

}



/* modal */
.formBox form {
  display: block;
}

.formBox form[style*="display: none"] {
  display: none;
}

.formBox .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #277c27fb;
}

textField.formBox label.Mui-focused {
  color: #277c27fb;
}

.formBox h1 {
  font-size: 28px;
  margin-bottom: 3px;
}

/* textfield */
.formBox .textField {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}
.formBox .textFieldXL {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  min-width: 70vh;
}


/* inputs */
.inputField {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* selects */
.selectField {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* input role */
.inputFieldRole {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
}


/* buttons */
.button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #277c27fb;
}

.button:hover {
  background-color: #277c27cf;
}

/* image uploader for all components */
.imageUploaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageUploaderButton {
  width: 100%;
  margin-top: 20px;
  background-color: #277c27fb;
}

.imageUploaderButton:hover {
  background-color: #277c27cf;
}

/* avatar, only for users */
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.avatarUser{
  position: relative;
  width: 100%;
}

.avatarEditor {
  width: 200px;
  height: 200px;
  border: 50px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin-bottom: 20px;
}

.avatarSlider {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Error tags */
.errorLabel {
  color: red;
  font-size: 14px;
}

